@use "assets/fonts";

.app-container {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  font-family: "KGHAPPY";
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}